
<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<h1>You asked</h1>
<h2><%= @user_question %></h2>

<h1>Peter says:</h1>
<h2><%= @coach_answer %></h2>

<form action="/questions/ask">
    <input type="submit" value="Ask Again" />
</form>


