<h1>Questions#ask</h1>
<form action="/questions/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="user_input" placeholder="Ask your question">
  <input type="submit" value="NOW!">
</form>
<p>Find me in app/views/questions/ask.html.erb</p>
